/** General **/
@font-face {
  font-family: 'electrical';
  src: url(../Imagenes/electrical.ttf);
}
h1, h2, h3{
  margin: 5px;
}

h1{
  font-size: 6vw;
  font-family: 'electrical';
  font-weight: 100;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px rgb(55, 0, 255);
}

h2{
  font-size: 5vw;
}

h3{
  font-size: 4vw;
  margin-bottom: 5px;
}

h4{
  font-size: 2.5vw;
  margin: 5px;
}

span{
  font-size: 1.5vw;
  padding: 10px;
}

.nav{
  display: flex;
  flex-wrap: wrap;
  font-size: 2vw;
}
.cajanavlink{
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgb(241, 65, 65);
  margin: 5px;
  padding: 20px;
  width: 12vw;
  border-radius: 10px;
  background: linear-gradient(rgb(152, 248, 216), rgb(153, 153, 214));
}

/** Home **/

.caja_home{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}
.imagent1{
  background-image: url(../Imagenes/bobinado.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30vw;
  height: 20vw;
  margin: 5px;
}
.imagent2{
  background-image: url(../Imagenes/trabajo3.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30vw;
  height: 20vw;
  margin: 5px;
}
.imagent3{
  background-image: url(../Imagenes/aea.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30vw;
  height: 20vw;
  margin: 5px;

}

.imagent4{
  background-image: url(../Imagenes/PinzaFluke.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30vw;
  height: 20vw;
  margin: 5px;

}

/** Fin Home **/

/** Trabajos **/

.caja_general_trabajos{
  display: flex;
  justify-content: center;
}

.caja_trabajos{
  width: 50vw;
}

.reseña-trabajo{
  margin: 20px;
  border: 1px solid blue;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.5vw;
}

.imagentra1{
  background-image: url(../Imagenes/Trabajos/tablero.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 22vw;
  margin: auto;
  border-radius: 10px;
}
.imagentra2{
  background-image: url(../Imagenes/Trabajos/prueba_aislamiento.jpg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 30vw;
  margin: auto;
  
}
.imagentra3{
  background-image: url(../Imagenes/Trabajos/Pinza-cofimetrica.jpg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 30vw;
  margin: auto;
  
}
.imagentra4{
  background-image: url(../Imagenes/Trabajos/banco-de-condensadores.jpg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 30vw;
  margin: auto;
  border-radius: 10px;
}
.imagentra5{
  background-image: url(../Imagenes/Trabajos/rebobinado-de-motores-elctricos.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 30vw;
  margin: auto;
  border-radius: 10px;
}
.imagentra6{
  background-image: url(../Imagenes/grafico_tablero.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 30vw;
  margin: auto;
  border-radius: 10px;
}
.imagentra7{
  background-image: url(../Imagenes/aea.jpg);
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 30vw;
  margin: auto;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {

  .caja_trabajos{
    width: 100vw;
  }

  .reseña-trabajo{
    font-size: 3vw;
  }

  .imagentra1{
    width: 80vw;
    height: 50vw;  
  }
  .imagentra2{
    width: 80vw;
    height: 50vw;
  }
  .imagentra3{
    width: 60vw;
    height: 60vw;
  }
  .imagentra4{
    width: 70vw;
    height: 70vw;
    background-size: 90%;
  }
  .imagentra5{
    width: 80vw;
    height: 40vw;
  }
  .imagentra6{
    width: 70vw;
    height: 45vw;
  }

  /**Home media-screen**/
  h1{
    font-size: 8vw;
  }
  
  h2{
    font-size: 7vw;
  }
  
  h3{
    font-size: 5vw;
  }

  h4{
    font-size: 3vw;
  }

  .nav{
    font-size: 4.6vw;
  }

  .cajanavlink{
    width: 12vw;
    flex-wrap: wrap;
  }

  .caja_home{
    width: 100%;
  }

  .imagent1{
    width: 45vw;

  }
  .imagent2{
    width: 45vw;
  }
  .imagent3{
    width: 45vw;
  }
  .imagent4{
    width: 45vw;
  }

}

@media screen and (max-width: 400px) {
  .imagent1{
    width: 100vw;
    height: 45vw;
  }
  .imagent2{
    width: 100vw;
    height: 45vw;
  }
  .imagent3{
    width: 100vw;
    height: 45vw;
  }
  .imagent4{
    width: 100vw;
    height: 45vw;
  }

    /**Trabajo media-screen**/

  .reseña-trabajo{
    margin: 1px;
    padding: 2px;
  }

  .imagentra1{
    width: 90vw;
    height: 50vw;  
    border-radius: 20px;
  }
  .imagentra2{
    width: 90vw;
    height: 50vw;
    background-size: 100%;
    border-radius: 20px;
  }
  .imagentra3{
    width: 80vw;
    height: 70vw;
    background-size: 100%;
    border-radius: 20px;
  }
  .imagentra4{
    width: 80vw;
    height: 80vw;
    background-size: 100%;
  }
  .imagentra5{
    width: 90vw;
    height: 50vw;
  }
  .imagentra6{
    width: 90vw;
    height: 65vw;
    background-size: 110%;
    border-radius: 20px;
  }
}